<!DOCTYPE html>
<html>
<head>
   
</head>

<body>
    <h1> AEM UI Project-- Created By Rahul Kumar</h1>

    <h2>Templates:</h2>
    <ul>
        <li><a href="#">Test Template</a></li>
         </ul>

    <h2>Component Demo Pages:</h2>
    <ul>
        <li><a href="#">Test Page</a></li>
    </ul>

    <h2>Components:</h2>
    <ul>
        <li><a href="#">Test component</a></li>
    </ul>
</body>
</html>